<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <style>
 .container {
 max-width: 560px;
 }
 </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>Preview 수정 Form</h2>
    </div>
    <form action="preview.html" th:action method="post">
        <div>
            <label for="id">Preview ID</label>
            <input type="text" id="id" name="id" class="form-control" value="1"
                   th:value="${previewId}" readonly>
        </div>
        <div>
            <label for="context">Context</label>
            <textarea id="context" name="context" class="form-control" th:text="${preview.context}" required></textarea>
        </div>
        <div>
            <label for="detailTopicList">Detail Topic List</label>
            <table class="tb_col" id="detailTopicList" name="detailTopicList">
                <tr>
                    <th>Context</th>
                </tr>
                <tr>
                    <td>
                        <textarea id="detailContext1" name="detailContext1" class="form-control" th:text="${detailTopicList.get(0).context}" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea id="detailContext2" name="detailContext2" class="form-control" th:text="${detailTopicList.get(1).context}" required></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <label for="expressionList">Expression List</label>
            <table class="tb_col" id="expressionList" name="expressionList">
                <tr>
                    <th>Word</th>
                    <th>Meaning</th>
                    <th>Example</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="expressionWord1" name="expressionWord1"
                               th:value="${expressionList.get(0).word}" required>
                    </td>
                    <td>
                        <textarea id="expressionMeaning1" name="expressionMeaning1" th:text="${expressionList.get(0).meaning}" required></textarea>
                    </td>
                    <td>
                        <textarea id="expressionExample1" name="expressionExample1" th:text="${expressionList.get(0).example}" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="expressionWord2" name="expressionWord2"
                               th:value="${expressionList.get(1).word}" required>
                    </td>
                    <td>
                        <textarea id="expressionMeaning2" name="expressionMeaning2" th:text="${expressionList.get(1).meaning}" required></textarea>
                    </td>
                    <td>
                        <textarea id="expressionExample2" name="expressionExample2" th:text="${expressionList.get(1).example}" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="expressionWord3" name="expressionWord3"
                               th:value="${expressionList.get(2).word}" required>
                    </td>
                    <td>
                        <textarea id="expressionMeaning3" name="expressionMeaning3" th:text="${expressionList.get(2).meaning}" required></textarea>
                    </td>
                    <td>
                        <textarea id="expressionExample3" name="expressionExample3" th:text="${expressionList.get(2).example}" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="expressionWord4" name="expressionWord4"
                               th:value="${expressionList.get(3).word}" required>
                    </td>
                    <td>
                        <textarea id="expressionMeaning4" name="expressionMeaning4" th:text="${expressionList.get(3).meaning}" required></textarea>
                    </td>
                    <td>
                        <textarea id="expressionExample4" name="expressionExample4" th:text="${expressionList.get(3).example}" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="expressionWord5" name="expressionWord5"
                               th:value="${expressionList.get(4).word}" required>
                    </td>
                    <td>
                        <textarea id="expressionMeaning5" name="expressionMeaning5" th:text="${expressionList.get(4).meaning}" required></textarea>
                    </td>
                    <td>
                        <textarea id="expressionExample5" name="expressionExample5" th:text="${expressionList.get(4).example}" required></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Submit
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='preview.html'"
                        th:onclick="|location.href='@{/administration/topics/preview/{previewId}(previewId=${previewId})}'|"
                        type="button">Cancel</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>