<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <style>
        .container {
        max-width: 560px;
        }
        table {
        width: 100%;
        border-top: 2px solid red;
        border-collapse: collapse;
        }
        .backslash {
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="gray" /></svg>');
        }
        th, td {
        border-bottom: 1px solid #444444;
        border-left: 1px solid #444444;
        padding: 10px;
        }
        th:first-child, td:first-child {
        border-left: none;
        }
        tr:nth-child(2n+1) {
        border-bottom: 2px solid red;
        }
     </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>Preview Specification</h2>
    </div>
    <br>
    <div>
        <label for="id"><h4>Preview ID</h4></label>
        <input type="text" id="id" name="id" class="form-control"
               value="1" th:value="${previewId}" readonly>
    </div>
    <br>
    <div>
        <label for="context"><h4>Context</h4></label>
        <textarea id="context" name="context" class="form-control"
               rows="8" cols="20" th:text="${preview.context}" readonly>
        </textarea>
    </div>
    <br>
    <div>
        <label for="detailTopicList"><h4>Detail Topics</h4></label>
        <table class="tb_col" id="detailTopicList" name="detailTopicList">
            <tr>
                <th>Context</th>
            </tr>
            <tr>
                <td>
                    <textarea id="detailContext1" name="detailContext1" class="form-control"
                              th:text="${detailTopicList.get(0).context}" readonly>
                    </textarea>
                </td>
                <td>
                    <textarea id="detailContext2" name="detailContext2" class="form-control"
                              th:text="${detailTopicList.get(1).context}" readonly>
                    </textarea>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <label for="expressionList"><h4>Expression List</h4></label>
        <table class="tb_col" id="expressionList" name="expressionList">
            <tr>
                <th class="backslash"></th>
                <th>Word</th>
                <th>Meaning</th>
                <th>Example</th>
                <th>Pronunciation</th>
            </tr>
            <tr>
                <td>kor-word1</td>
                <td>
                    <input type="text" id="expressionWord1" name="expressionWord1"
                           th:value="${expressionList.get(0).word}" readonly>
                </td>
                <td>
                    <textarea id="expressionMeaning1" name="expressionMeaning1"
                              th:text="${expressionList.get(0).meaning}" readonly>
                        </textarea>
                </td>
                <td>
                    <textarea id="expressionExample1" name="expressionExample1"
                              th:text="${expressionList.get(0).example}" readonly>
                        </textarea>
                </td>
                <td>
                    <audio id="audio1" controls>
                        <source th:src="@{data:audio/mpeg;base64,{aud}(aud=${base64EncodedAudio1})}" type="audio/mpeg">
                        <p>Your browser does not support the audio element.!</p>
                    </audio>
                </td>
            </tr>
            <tr>
                <td>eng-word1</td>
                <td>
                    <input type="text" id="expressionWord2" name="expressionWord2"
                           th:value="${expressionList.get(1).word}" readonly>
                </td>
                <td>
                    <textarea id="expressionMeaning2" name="expressionMeaning2"
                              th:text="${expressionList.get(1).meaning}" readonly>
                        </textarea>
                </td>
                <td>
                    <textarea id="expressionExample2" name="expressionExample2"
                              th:text="${expressionList.get(1).example}" readonly>
                        </textarea>
                </td>
                <td>
                    <audio id="audio2" controls>
                        <source th:src="@{data:audio/mpeg;base64,{aud}(aud=${base64EncodedAudio2})}" type="audio/mpeg">
                        <p>Your browser does not support the audio element.!</p>
                    </audio>
                </td>
            </tr>
            <tr>
                <td>kor-word2</td>
                <td>
                    <input type="text" id="expressionWord3" name="expressionWord3"
                           th:value="${expressionList.get(2).word}" readonly>
                </td>
                <td>
                    <textarea id="expressionMeaning3" name="expressionMeaning3"
                              th:text="${expressionList.get(2).meaning}" readonly>
                        </textarea>
                </td>
                <td>
                    <textarea id="expressionExample3" name="expressionExample3"
                              th:text="${expressionList.get(2).example}" readonly>
                        </textarea>
                </td>
                <td>
                    <audio id="audio3" controls>
                        <source th:src="@{data:audio/mpeg;base64,{aud}(aud=${base64EncodedAudio3})}" type="audio/mpeg">
                        <p>Your browser does not support the audio element.!</p>
                    </audio>
                </td>
            </tr>
            <tr>
                <td>eng-word2</td>
                <td>
                    <input type="text" id="expressionWord4" name="expressionWord4"
                           th:value="${expressionList.get(3).word}" readonly>
                </td>
                <td>
                    <textarea id="expressionMeaning4" name="expressionMeaning4"
                              th:text="${expressionList.get(3).meaning}" readonly>
                        </textarea>
                </td>
                <td>
                    <textarea id="expressionExample4" name="expressionExample4"
                              th:text="${expressionList.get(3).example}" readonly>
                        </textarea>
                </td>
                <td>
                    <audio id="audio4" controls>
                        <source th:src="@{data:audio/mpeg;base64,{aud}(aud=${base64EncodedAudio4})}" type="audio/mpeg">
                        <p>Your browser does not support the audio element.!</p>
                    </audio>
                </td>
            </tr>
            <tr>
                <td>kor-word3</td>
                <td>
                    <input type="text" id="expressionWord5" name="expressionWord5"
                           th:value="${expressionList.get(4).word}" readonly>
                </td>
                <td>
                    <textarea id="expressionMeaning5" name="expressionMeaning5"
                              th:text="${expressionList.get(4).meaning}" readonly>
                        </textarea>
                </td>
                <td>
                    <textarea id="expressionExample5" name="expressionExample5"
                              th:text="${expressionList.get(4).example}" readonly>
                        </textarea>
                </td>
                <td>
                    <audio id="audio5" controls>
                        <source th:src="@{data:audio/mpeg;base64,{aud}(aud=${base64EncodedAudio5})}" type="audio/mpeg">
                        <p>Your browser does not support the audio element.!</p>
                    </audio>
                </td>
            </tr>
            <tr>
                <td>eng-word3</td>
                <td>
                    <input type="text" id="expressionWord6" name="expressionWord6"
                           th:value="${expressionList.get(5).word}" readonly>
                </td>
                <td>
                    <textarea id="expressionMeaning6" name="expressionMeaning6"
                              th:text="${expressionList.get(5).meaning}" readonly>
                        </textarea>
                </td>
                <td>
                    <textarea id="expressionExample6" name="expressionExample6"
                              th:text="${expressionList.get(5).example}" readonly>
                        </textarea>
                </td>
                <td>
                    <audio id="audio6" controls>
                        <source th:src="@{data:audio/mpeg;base64,{aud}(aud=${base64EncodedAudio6})}" type="audio/mpeg">
                        <p>Your browser does not support the audio element.!</p>
                    </audio>
                </td>
            </tr>
            <tr>
                <td>kor-word4</td>
                <td>
                    <input type="text" id="expressionWord7" name="expressionWord7"
                           th:value="${expressionList.get(6).word}" readonly>
                </td>
                <td>
                    <textarea id="expressionMeaning7" name="expressionMeaning7"
                              th:text="${expressionList.get(6).meaning}" readonly>
                        </textarea>
                </td>
                <td>
                    <textarea id="expressionExample7" name="expressionExample7"
                              th:text="${expressionList.get(6).example}" readonly>
                        </textarea>
                </td>
                <td>
                    <audio id="audio7" controls>
                        <source th:src="@{data:audio/mpeg;base64,{aud}(aud=${base64EncodedAudio7})}" type="audio/mpeg">
                        <p>Your browser does not support the audio element.!</p>
                    </audio>
                </td>
            </tr>
            <tr>
                <td>eng-word4</td>
                <td>
                    <input type="text" id="expressionWord8" name="expressionWord8"
                           th:value="${expressionList.get(7).word}" readonly>
                </td>
                <td>
                    <textarea id="expressionMeaning8" name="expressionMeaning8"
                              th:text="${expressionList.get(7).meaning}" readonly>
                        </textarea>
                </td>
                <td>
                    <textarea id="expressionExample8" name="expressionExample8"
                              th:text="${expressionList.get(7).example}" readonly>
                        </textarea>
                </td>
                <td>
                    <audio id="audio8" controls>
                        <source th:src="@{data:audio/mpeg;base64,{aud}(aud=${base64EncodedAudio8})}" type="audio/mpeg">
                        <p>Your browser does not support the audio element.!</p>
                    </audio>
                </td>
            </tr>
            <tr>
                <td>kor-word5</td>
                <td>
                    <input type="text" id="expressionWord9" name="expressionWord9"
                           th:value="${expressionList.get(8).word}" readonly>
                </td>
                <td>
                    <textarea id="expressionMeaning9" name="expressionMeaning9"
                              th:text="${expressionList.get(8).meaning}" readonly>
                        </textarea>
                </td>
                <td>
                    <textarea id="expressionExample9" name="expressionExample9"
                              th:text="${expressionList.get(8).example}" readonly>
                        </textarea>
                </td>
                <td>
                    <audio id="audio9" controls>
                        <source th:src="@{data:audio/mpeg;base64,{aud}(aud=${base64EncodedAudio9})}" type="audio/mpeg">
                        <p>Your browser does not support the audio element.!</p>
                    </audio>
                </td>
            </tr>
            <tr>
                <td>eng-word5</td>
                <td>
                    <input type="text" id="expressionWord10" name="expressionWord10"
                           th:value="${expressionList.get(9).word}" readonly>
                </td>
                <td>
                    <textarea id="expressionMeaning10" name="expressionMeaning10"
                              th:text="${expressionList.get(9).meaning}" readonly>
                        </textarea>
                </td>
                <td>
                    <textarea id="expressionExample10" name="expressionExample10"
                              th:text="${expressionList.get(9).example}" readonly>
                        </textarea>
                </td>
                <td>
                    <audio id="audio10" controls>
                        <source th:src="@{data:audio/mpeg;base64,{aud}(aud=${base64EncodedAudio10})}" type="audio/mpeg">
                        <p>Your browser does not support the audio element.!</p>
                    </audio>
                </td>
            </tr>
        </table>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editPreviewForm.html'"
                    th:onclick="|location.href='@{/administration/topics/preview/{previewId}/edit(previewId=${previewId})}'|" type="button">
                Preview 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='topic.html'"
                    th:onclick="|location.href='@{/administration/topics/{previewId}(previewId=${previewId})}'|"
                    type="button">
                Topic으로
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>
