# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

application-oauth.properties
google-cloud.properties
verpic-1628699741057-7298f7a6fc47.json

.DS_Store
.gradle
.idea/


**/jib-cache/**

build/


out/**
*.jks


database/**