<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <style>
 .container {
 max-width: 560px;
 }
 </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>Topic Create Form</h2>
    </div>
    <h4 class="mb-3">Topic 입력</h4>
    <form action="topic.html" th:action method="post">
        <div>
            <label for="theme">Theme</label>
            <input type="text" id="theme" th:name="theme" class="form-control" placeholder="Enter topic theme" required>
        </div>
        <div>
            <label for="studyDate">Date</label>
            <input type="date" id="studyDate" name="studyDate" class="form-control"
                   th:min="${today}" required>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Topic 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='topics.html'"
                        th:onclick="|location.href='@{/administration/topics}'|"
                        type="button">Cancel</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>