<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <style>
         .container {
         max-width: 560px;
         }
     </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>Preview Specification</h2>
    </div>
    <div>
        <label for="id">Preview ID</label>
        <input type="text" id="id" name="id" class="form-control"
               value="1" th:value="${preview.id}" readonly>
    </div>
    <div>
        <label for="context">Context</label>
        <textarea id="context" name="context" class="form-control"
               rows="8" cols="20" th:text="${preview.context}" readonly>
        </textarea>
    </div>
    <div>
        <label for="detailTopicList">Detail Topics</label>
        <table class="tb_col" id="detailTopicList" name="detailTopicList">
            <tr>
                <th>Context</th>
            </tr>
            <tr th:each="detailTopic : ${detailTopicList}">
                <td>
                    <textarea id="detailcontext" name="detailcontext" class="form-contro"
                              th:text="${detailTopic.context}" readonly>
                    </textarea>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <label for="expressionList">Expression List</label>
        <table class="tb_col" id="expressionList" name="expressionList">
            <tr>
                <th>Word</th>
                <th>Meaning</th>
                <th>Example</th>
            </tr>
            <tr th:each="expression : ${expressionList}">
                <td>
                    <input type="text" id="expressionWord" name="expressionWord"
                           th:value="${expression.word}" readonly>
                </td>
                <td>
                    <textarea id="expressionMeaning" name="expressionMeaning"
                              th:text="${expression.meaning}" readonly>
                        </textarea>
                </td>
                <td>
                    <textarea id="expressionExample" name="expressionExample"
                              th:text="${expression.example}" readonly>
                        </textarea>
                </td>
            </tr>
        </table>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editPreviewForm.html'"
                    th:onclick="|location.href='@{/administration/topics/preview/{previewId}/edit(previewId=${preview.id})}'|" type="button">
                Preview 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='topic.html'"
                    th:onclick="|location.href='@{/administration/topics/{previewId}(previewId=${preview.id})}'|"
                    type="button">
                Topic으로
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>
